# core
numpy==2.1.2
pandas==2.3.3

# PyTorch
torch==2.9.1
torchvision==0.24.1

# Grad-CAM + image handling
grad-cam==1.5.5
pillow==11.3.0
opencv-python==4.12.0.88
matplotlib>=3.7.2

# Streamlit
streamlit==1.51.0
